/* Tekijä: Henri Kaustinen */

/* Visan ja matematiikkaosion yhteisiä muotoiluja. */

article {
  	background-image: url("../img/henrin/background.jpg");
	background-size: cover;
	font-family: "Fira Sans", sans-serif;
}

h2, h4 {
	font-family: Kalam, cursive;
	margin-bottom: 1em;
}

img {
	border-radius: 10px;
	margin-bottom: 1em;
 	max-width: 100%;
}


.clickable { cursor: pointer; }

.chosen {
  background-color: #28A745;
  color: white;
}

.vastaus, .answer {
	background-color: rgba(216, 244, 248, 0.5);
}

.progress {
	background-color: rgba(216, 244, 248, 0.3);
	height: 20px;
	margin-top: 1em;
}

#taskNumber-col {
	padding-top: 1em;
	padding-bottom: 1em;
}

.trophy { margin-top: 2em; }

/* Font awesome */
.far, .fas {
	font-size: 0.9em;
	margin-left: 10px;
}

/* ------ Visa -------*/

.ask {
	font-size: larger;
	font-weight: bold;
	margin-top: 0.5em;
	/* margin-bottom: 2em; */
}

.true {
  background-color: green;
  color: white;
}

.false {
  background-color: #ff3333;
  color: white;
}

#next {
	margin-top: 1em;
	max-width: 11em;
}

#quit {
	margin-top: 10px;
	max-width: 11em;
}

#questionNumber {	font-size: 1.2em; }

#questionNumber, footer {
	font-family: Kalam, cursive;
}

/* -- Matematiikkaosio -- */

.inputField {
	align-content: center;
	border-radius: 5px;
	font-size: 1.7em;
	margin-right: 5px;
	margin-left: 5px;
	width: 2.2em;
}

.hintField {
	border-radius: 5px;
	border: 3px solid black;
	font-size: 1.7em;
	margin-right: 5px;
	margin-left: 5px;
	width: 2.2em;
}

.mathButton {
	margin: 5px 5px 5px 5px;
	min-width: 7.5em;
}

.chosen { background-color: #28A745; }

#buttonsBig { margin-bottom: 3em; }

.redColor {
 color: #ff3333;
}

.greenColor {
	color: green;
}

/* Piilota vierityspainikkeet input -elementeistä*/

input[type='number'] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
