/* H-ryhmän Yhteiset tyylimäärittelyt. */

article {
  padding: 1em 1em 1em 1em;
}

body { background-color: #F7F7F7; }

.card { min-height: 20em; }

.container {
  background-color: white;
  max-width: 960px;
}

h1, h2, h3 {
  color: #202A00;
	padding: 0.5em 0.5em 0.5em 0;
}

header {
  background-color: #A8D813;
  border-radius: 5px 5px 0 0;
  margin-top: 0.5em;
  font-family: "Comic Sans MS";
  padding: 5px 5px 5px 5px;
  
}

/* Määritellään tarkoituksella vain headerin otsikko. */
header div h1 {
  color: #70910C;
  padding: 25px 0 15px 5px;
}

footer {
  background-color: #A8D813;
  border-radius: 0 0 5px 5px;
  font-family: "Comic Sans MS";
  padding: 10px 10px 10px 0;
}

/* Navigaatiopalkki */

nav { border-radius: 5px 5px 0 0; }

.nav-bg,
.dropdown-menu {
  background-color: #B2F675;
}

.nav-link,
.dropdown-item,
.dropdown-menu,
.nav-bg {
  color: #202A00;
}

.dropbown-menu { border: none; }

.dropdown-item:hover,
.nav-link:hover {
  color: #DBFB78;
  background-color: #3D7F03
}

.nav-link:hover { border-radius: 5px; }

.navbar-toggler { border-color: #202A00; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32, 42, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}