<p class="text-center ask mb-sm-5">Mitä kuvassa näkyvät komponentit ovat?</p>

<p><img src="img/henrin/capacitors.jpg" alt="kuva komponentista"></p>

<ul class="list-group">
	<li class="list-group-item clickable vastaus">
		Vastuksia
	</li>
	<li class="list-group-item clickable vastaus">
		Transistoreita
	</li>
		<li class="list-group-item clickable vastaus">
		Antureita
	</li>
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Kondensaattoreita
	</li>
</ul>
