<p class="text-center ask mb-sm-5">Mikä näistä varastoi pienen määrän sähköä?</p>
<ul class="list-group">
	<li class="list-group-item clickable vastaus">
		Hohtodiodi eli led
	</li>
	<li class="list-group-item clickable vastaus">
		Johdin
	</li>
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Kondensaattori
	</li>
	<li class="list-group-item clickable vastaus">
		Vastus
	</li>
</ul>
