<p class="text-center ask mb-sm-5">Mitä vaihtokytkimellä tehdään?</p>
<ul class="list-group">
	<li class="list-group-item clickable vastaus "data-vastaus="1">
		Valitaan sähkön vaikutusalue
	</li>
	<li class="list-group-item clickable vastaus">
		Vaihdetaan sähkön suuntaa
	</li>
	<li class="list-group-item clickable vastaus">
		Vaihdetaan sähkön voimakkuutta
	</li>
</ul>
