<p class="text-center ask mb-sm-5">Mitä sähköpari tekee?</p>
<ul class="list-group">
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Siitä saadaan sähköenergiaa
	</li>
	<li class="list-group-item clickable vastaus">
		Sen avulla voidaan sulkea virtapiiri
	</li>
	<li class="list-group-item clickable vastaus">
		Se muuttaa sähköenergian valoksi
	</li>
</ul>
