<p class="text-center ask mb-sm-5">Jos kaksi lamppua kytketään rinnakkain, mitä tapahtuu, jos toisen lampuista ottaa pois?</p>
<ul class="list-group">
	<li class="list-group-item clickable vastaus">
		Toinenkin lampuista sammuu
	</li>
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Toinen lampuista vielä valaisee
	</li>
</ul>
