<p class="text-center ask mb-sm-5">Mikä komponentti muuttaa sähköenergian pyöriväksi liikkeeksi?</p>
<ul class="list-group">
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Sähkömoottori
	</li>
	<li class="list-group-item clickable vastaus">
		Pietsosummeri
	</li>
	<li class="list-group-item clickable vastaus">
		Johdin
	</li>
		<li class="list-group-item clickable vastaus">
		Vastus
	</li>
</ul>
