<p class="text-center ask mb-sm-5">Minkä sähkösarjan osan tehtävä on vastustaa sähkön kulkua?</p>
<ul class="list-group">
	<li class="list-group-item clickable vastaus">
		Kondensaattorin
	</li>
	<li class="list-group-item clickable vastaus">
		Sähköparin
	</li>
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Vastuksen
	</li>
</ul>
