<p class="text-center ask mb-sm-5">Mitä kuvassa näkyvät komponentit ovat?</p>

<p><img src="img/henrin/resistor.jpg" alt="kuva komponentista"></p>

<ul class="list-group">
	<li class="list-group-item clickable vastaus">
		Sähköpareja
	</li>
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Vastuksia
	</li>
	<li class="list-group-item clickable vastaus">
		Kondensaattoreita
	</li>
		<li class="list-group-item clickable vastaus">
		Hohtodiodeja eli ledejä
	</li>
</ul>
