<p class="text-center ask mb-sm-5">Mitä kuvassa näkyvä komponentti tekee?</p>

<p><img src="img/henrin/piezo.jpg" alt="kuva komponentista"></p>

<ul class="list-group">
	<li class="list-group-item clickable vastaus" data-vastaus="1">
		Tuottaa ääntä
	</li>
	<li class="list-group-item clickable vastaus">
		Mittaa lämpöä
	</li>
	<li class="list-group-item clickable vastaus">
		Varastoi sähköä
	</li>
	<li class="list-group-item clickable vastaus">
		Vastustaa sähkön kulkua
	</li>
</ul>
